html, body {
  overflow-x: hidden;
  background-color: #f1f1f1;
  width: 100%;
}

.card {
  width: 100%;
  padding: 35px;
  margin: 4%;
}

.crossed-line {
  text-decoration: line-through;
}

a {
  text-decoration: none;
  color: inherit;
}